[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "libchess"]
	path = libchess
	url = https://github.com/kz04px/libchess/
[submodule "chess-library"]
	path = chess-library
	url = https://github.com/Disservin/chess-library
